<h1>Lps</h1>

<%= form_with url: lps_path, method: :get, local: true do %>
  <div class="field">
    <%= label_tag :artist_id, "Filter by Artist" %>
    <%= select_tag :artist_id, options_from_collection_for_select(Artist.all, :id, :name, params[:artist_id]), include_blank: true %>
  </div>
  <div class="actions">
    <%= submit_tag 'Filter', class: 'btn btn-primary' %>
  </div>
<% end %>

<div id="lps">
  <% @lps.each do |lp| %>
    <%= render lp %>
    <p>
      <%= link_to "Show this lp", lp %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New lp", new_lp_path %>
