<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= @lp.name %></h3>
        </div>
        <div class="card-body">
          <% if @lp.description.present? %>
            <p class="card-text"><strong>Description:</strong> <%= @lp.description %></p>
          <% end %>
          <p class="card-text"><strong>Artist:</strong> <%= @lp.artist.name %></p>
          
          <div class="mt-4">
            <%= link_to 'Add New Song', new_lp_song_path(@lp), class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_lp_path(@lp), class: "btn btn-warning" %>
            <%= link_to 'Return', request.referer, class: "btn btn-secondary" %>
            <%= link_to "Delete", lp_path(@lp), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          </div>
          <div class="card-body">
            <div class="card-header">
              <h4 class="card-title">Songs</h4>
            </div>
            <ul class="list-group list-group-flush">
              <% @lp.songs.each do |song| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>
                    <p class="mb-1 card-text"><strong><%= song.name %></strong></p>
                  </div>
                  <div>
                    <%= link_to 'Show', [@lp, song], class: 'btn btn-info btn-sm' %>
                    <%= link_to 'Edit', edit_lp_song_path(@lp, song), class: 'btn btn-warning btn-sm' %>
                    <%= link_to "Delete", lp_song_path(@lp, song), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>