<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h4>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>