<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= @song.name %></h3>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>LP:</strong> <%= @song.lp.name %></p>
          <p class="card-text"><strong>Authors:</strong> <%= @song.authors.map(&:name).join(', ') %></p>

          <div class="mt-4">
            <%= link_to 'Edit', edit_lp_song_path(@lp, @song), class: "btn btn-warning" %>
            <%= link_to 'Back to LP', lp_path(@lp), class: "btn btn-secondary" %>
            <%= link_to 'Delete', lp_song_path(@lp, @song), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

            <%#= button_to "Delete", @lp, method: :delete, class: "btn btn-danger btn-sm" %>
          </div>
        </div>
         <div class="card-body">
          <h6>Authors</h6>
          <%= form_with(model: @song, url: set_authors_lp_song_path(@lp, @song), method: :put) do |form| %>
            <div class="mb-3">
              <%= form.select :author_ids, Author.all.map { |author| [author.name, author.id] }, 
                              {}, { class: "form-control", multiple: true } %>
            </div>

            <%= form.submit "Save Authors", class: "btn btn-primary" %>
          <% end %>          
        </div>
      </div>
    </div>
  </div>
</div>