<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"><%= @song.name %></h3>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>LP:</strong> <%= @song.lp.name %></p>
          
          <div class="mt-4">
            <%= link_to 'Edit', edit_song_path(@song), class: "btn btn-warning" %>
            <%= link_to 'Back to List', songs_path, class: "btn btn-secondary" %>
            <%= link_to 'Delete', song_path(@song), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

            <%#= button_to "Delete", @lp, method: :delete, class: "btn btn-danger btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>